{% extends 'account/base.html' %}
{% load static %}

<body>
    {% block body %}

    <br>
    <br>
    <h2><span><strong>Home</strong></span>
    </h2>
    <hr>
    <br>
    <br>

<!--ここから-->
    <section id="intro" class="clearfix">
        <div class="container">
    
          <div class="intro-img">
            <img src="img/intro-img.svg" alt="" class="img-fluid">
          </div>
    
          <div class="intro-info">
            <h2>We provide<br><span>solutions</span><br>for your business!</h2>
            <div>
    <br>
              <a href="{% url 'blog-parttimer' %}" class="btn-get-started scrollto">アルバイト様向けページ</a>
              <a href="{% url 'blog-manager' %}" class="btn-services scrollto">店長様向けページ</a>
            </div>
          </div>
          
        </div>
      </section><!-- #intro -->


   <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <form action="{% url 'post-admin' %}">
                            <button type="submit" class="btn btn-primary">管理者ページへ</button>
                        </form>
                    </div>
                </div>
               
                

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <ul class="footer-links">
                            <li><a href="{% url 'signup' %}">Sign Up</a></li>
                            <li><a href="{% url 'login' %}">Log In</a></li>
                            <li><a href="{% url 'logout' %}">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>

    {% endblock body %}

</body>