{% extends 'account/base.html' %}
{% load static %}


<body>
    {% block body %}
    <br>
    <br>
    <h1><span><strong>マニュアル翻訳ページ</strong></span>
    </h1>
    <hr>
    <br>
    <h4><span>pdf形式のマニュアルをアップロードしてください</span>
    </h4>
    <br>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>


    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <form action="{% url 'post-admin' %}">
                            <button type="submit" class="btn btn-primary">管理者ページへ</button>
                        </form>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <form action="{% url 'blog-home' %}">
                            <button type="submit" class="btn btn-primary">TOPページへ</button>
                        </form>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <ul class="footer-links">
                            <li><a href="{% url 'signup' %}">Sign Up</a></li>
                            <li><a href="{% url 'login' %}">Log In</a></li>
                            <li><a href="{% url 'logout' %}">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>

    {% endblock body %}

</body>
