{% extends 'account/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">

<body>

    {% block body %}

    <br>
    <br>
    <h1><span><strong>アルバイト</strong></span>
    </h1>
    <hr>
    <br>
    <br>

    {% for post in posts %}
    <br>
    <h2 id="question">{{ post.title }}</h2>
    <br>
    <section id="result1">
        <form action="{% url 'post-detail' post.id %}">
            <option value="正解">○</option>
            <option value="不正解">×</option>
            <option value="正解">どちらでもない</option>
            </select>
            <input type="submit" name="submit" value="送信" />
            <br>
            <h2></h2>
        </form>
    </section>

    <br>
    <br>

    <form action="{% url 'post-detail' post.id %}">
        <button type="submit" class="btn btn-primary">解説を見る</button>
    </form>
    <br>
    <hr>

    {% endfor %}
    <br>
    <br>

    <section id="result2">
        <h2></h2>
        <br>
        <br>
        <form action="{% url 'blog-parttimer' %}">
            <button type="submit" class="btn btn-primary">再回答する</button>
        </form>
    </section>
    <br>
    <br>
    <br>

    <script>
        // const question = document.querySelector('#question');
        // const choices = document.querySelector('#choices');
        const btn = document.querySelector('#btn2');
        const result1 = document.querySelector('#result1 > h2');
        const result2 = document.querySelector('#result2 > h2');

        // let currentNum = 0;
        // let isAnswered;
        let score = 0;

        btn.addEventListener('click', () => {
            btn.classList.add('disabled');
            console.log(button.value);
            console.log(button.textContent);
            if (btn.value == "True") {
                result1.textContent = '正解';
                score += 1;
            }
            else {
                result1.textContent = '不正解';
            }

            result2.textContent = `Score: ${score} / 3`;
        });

    </script>

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <form action="{% url 'post-admin' %}">
                            <button type="submit" class="btn btn-primary">管理者ページへ</button>
                        </form>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <ul class="footer-links">
                            <li><a href="{% url 'signup' %}">Sign Up</a></li>
                            <li><a href="{% url 'login' %}">Log In</a></li>
                            <li><a href="{% url 'logout' %}">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>


    {% endblock body %}

</body>