{% extends 'account/base.html' %}
{% block body %}

<br>
<br>
<center>
    <h2>{{ object.title }}

    </h2>
    <br>
    <br>
    <ul class="aboutul">
        <u>
            <li>
                {% if object.answer %}
                <h2>答え：○</h2>
                {% elif object.answer == Null %}
                <h2>答え：どちらでもない</h2>
                {% else %}
                <h2>答え：×</h2>
                {% endif %}
            </li>
        </u>
        <br>
        <li>
            <h4>{{ object.content }}</h4>
        </li>
    </ul>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <div class="form-bottom">
    </div>
    <form action="{% url 'blog-parttimer' %}">
        <button type="submit" class="btn btn-primary">戻る</button>
    </form>
    <br>

</center>

{% endblock body %}